{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Update Task</h2>

    <!-- Update Task Form -->
    <form method="post" action="{{ url_for('update_task', task_id=task.id) }}">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="task_name">Task Name</label>
                    <input type="text" class="form-control" name="task_name" id="task_name" value="{{ task.task_name }}" required>
                </div>
                <div class="form-group">
                    <label for="task_description">Task Description</label>
                    <textarea class="form-control" name="task_description" id="task_description" rows="3" required>{{ task.task_description }}</textarea>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" name="is_urgent" id="is_urgent" {% if task.is_urgent %}checked{% endif %}>
                    <label class="form-check-label" for="is_urgent">Is Urgent</label>
                </div>
                <div class="form-group">
                    <label for="due_date">Due Date</label>
                    <input type="date" class="form-control" name="due_date" id="due_date" value="{{ task.due_date }}" required>
                </div>
                <div class="form-group">
                    <label for="category_id">Category</label>
                    <select class="form-control" name="category_id" id="category_id" required>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == task.category_id %}selected{% endif %}>
                                {{ category.category_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Update Task</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}