{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-sm-8">
      <h1 class="text">{{ page_title }}</h1>
      <p class="text_thin">Visit, Drink, Eat<br>
        The meals are prepared under the guidance and expertise of Chef Dani, and the restaurant specializes in Bulgarian National cuisine.
        <br> The most emblematic products used in Bulgarian cuisine are white cheese and yogurt.
        <br>Many tribes have lived in these lands and have left their traces in Bulgarian cuisine: Thracians, Greeks, Romans, Ottomans, Proto-Bulgarians, Slavs, Ost-Goths, etc.
        <br>Basic condiments used are red pepper, black pepper, dill, parsley, allspice, and savory. Our cuisine is influenced by Greek and Turkish cuisine but has strong similarities with Eastern European cuisine, like all kinds of fresh and dry sausages. Pork is the most eaten meat, followed by chicken. Lamb food is traditional in our cuisine but is mostly eaten in springtime.
      </p>
      <hr>
      <h3><!--Test--></h3>
      <p id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.898876363383!2d27.920999799999997!3d43.21161029999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4540c568d0f03%3A0xe63faf9275c6b20d!2z0JLQsNGA0L3QsCDQptC10L3RgtGK0YDQn9GA0LjQvNC-0YDRgdC60LgsINGD0LsuIOKAntCY0LLQsNC9INCQ0LrRgdCw0LrQvtCy4oCcIDMxLCA5MDAyINCS0LDRgNC90LAsINCR0YrQu9Cz0LDRgNC40Y8!5e0!3m2!1sbg!2sie!4v1715193808167!5m2!1sbg!2sie" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p>
    </div>
    </div>
    </div>
{% endblock %}