

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*------------------------------------------------------------------------HEADER*/
#head {
    height: 350px;
    width: 100%;
    background: url("../images/table.webp") no-repeat center 80%/cover;
    position: relative;
    text-align: center;
    color: white;
  }
  #cover-text {
   font-size: 300%;
   font-weight: 900;
   position: absolute;
   color: white;
   font-family: "Roboto", sans-serif;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
  }

  
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #F53E3F;
      font-weight: 900;
      padding-top: 0;
      padding-bottom: 0;
      height: auto;
    } 

    .navbar-brand {
      padding-left: 2px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    /* Add this to your existing CSS file */

.navbar-nav > .active > a {
  background-color: #f16c6b !important;
  color: white !important;
}


    #chef {
      padding-top: 2px;
      padding-left: 2px;
      width: 70px;
      height: 70px;
    }
    
    /* Main container adjustments */
/* Main container using Flexbox */
/*
.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100%;   
}*/
    /* Only apply Flexbox to the content area */

.row.content {
  display: flex;        
  flex: 1;              
  height: auto;         
} 

    
    /* Sidebar adjustments */

.sidenav {
  background-color: #f1f1f1;
  padding-top: 20px;
  flex: 1;              /* Allow the sidebar to fill the vertical space */
  min-height: 100%;    /* Ensure the sidebar extends to the footer */
}

    .nav-item, li:active {
      background-color: #F29C9D;
    }

    /* Set the background for contact page */
   #cont_backg {
    background: url("../images/tableset.webp") no-repeat center 80%/cover;
   }
    /* Set black background color, white text and some padding for the footer */
    /* Footer adjustments to prevent stretching */
footer.container-fluid.text-center {
  padding: 10px 0;      /* Adjust padding to prevent thickness */
  background-color: #F53E3F;
  color: white;
}
    #social-networks {
      text-align: center;
      padding: 20px 0;
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
    }
    
    #social-networks i {
      font-size: 300%;
      padding: 5%;
      color: yellow;
    }
    /*
    #info {position:absolute; top:75px; left:0px; display: block; text-align:center; background: #F0DFB4; border-width:thick thin thick 0; border-style: solid solid solid none; border-color: green; font:x-small Verdana, Ariel, Helvetica, sans-serif; margin:0; padding:5 5 5 5; margin-left:auto; margin-right:auto;}
*/

/*Styling the form*/
.signup {
    background-image: url("../images/tableset.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

::placeholder {
  color: white;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

    /*====================================================Styling the paragraphs*/
    .text{
      font-size: 30px;
      color: #554f4f;
      text-align: center;
      font-family: 'Roboto' sans-serif;
      font-weight: 900;
    }
    .text_thin{
      font-weight: bold;
      font-size: 12px;
      color: #554f4f;
      text-align: center;
      font-family: 'Exo' sans-serif;
    }
    .text-footer{
      color:#fafafa;
      font-size: 15px;
      text-align: center;
      font-family: 'Roboto' sans-serif;
      font-weight: 300;
    }


    /*========================================================Styling the form*/
#signup {
  background-image: url("../images/tableset.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}


#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #F53E3F;
    color: #fafafa;
}
.text-input:hover {
  border-color: #f16c6b;
}

.join-button:hover {
  background-color: #fafafa;
  color: #454b1b;
}
/*
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #fafafa;
  border-radius: 4px;
  background-color: rgba(60, 60, 60, 0.6);
  font-size: 16px;
  resize: none;
  background: transparent;
}
*/
textarea:hover {
  border-color: #f16c6b;
}

iframe {
  width: 780px;
  height: 235px;
}
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
          text-align: center;
          padding-top: 20px;
          background-color: #f1f1f1;
          height: auto;
          flex-direction: row; /* Display columns as rows */
          display: flex; /* Enable flexbox */
          width: 100%;
      }
      #info {
        text-align: center;
        width: 100%;
        display: block;
      }
      .col-sm-2.sidenav {
        display: flex;
        flex-direction: column; /* Stack items vertically */
    }
      .col-sm-2.sidenav .well {
        display: block;
        width: 100%; /* Make the wells take the full width */
        margin-bottom: 15px; /* Add spacing between wells */
    }
      .row.content {
        height:auto;
        display: flex;
        flex-direction: column;
        width: 100%;
      } 
    }

    @media screen and (max-width: 767px) {
      iframe {
        height: auto;
        width: 300px;
      }
    }


  